<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
<div class="item">
                              <div class="meta">
                                  <div class="upper-row">
                                      <h3 class="job-title">SCPO Technical Architect</h3>
                                      <div class="time">September 2021 - Present</div>
                                  </div><!--//upper-row-->
                                  <div class="company"><a href="https://blueyonder.com">blueyonder.com</a></div>
                              </div><!--//meta-->
                              <div class="details">
                                  <p>Acting as the Subject Matter Expert (SME) for the SCPO during the Application Onboarding Process, Collaborating with Blue Yonder partners across all project phases—including Design, Construct, UAT, Deployment, Hypercare, and Transition to Steady State. Also developed internally some tools for internal common tasks and testing. 
                  </p><p><i>Thechnologies that i use here: Azure Cloud, PL/SQL, Groovy, Python, Shell, Jenkins, Jmeter, Selenium</i></p>
                             <p>Proudly identified a vulnerability in the authorization module, preventing potential unauthorized access, data breaches, and license non-compliance.</p> 
                              </div><!--//details-->
                          </div><!--//item-->
                <div class="item">
                              <div class="meta">
                                  <div class="upper-row">
                                      <h3 class="job-title">Backend Developer · SRE · DevOps </h3>
                                      <div class="time">February 2019 - September 2021</div>
                                  </div><!--//upper-row-->
                                  <div class="company"><a href="https://tapterminal.com">tapterminal.com</a></div>
                              </div><!--//meta-->
                              <div class="details">
                                  <p>My role is as Back-end Developer of an API for a major sea port cargo terminal where I had the responsability of design, plan and write controllers in Laravel with DAO and PL-SQL and serving on REST and SOAP, This API is made for report the taxes to the autorithy related with the merchandise uloaded from the freighters.

I also complete the goal to start managing by ourselves the data and internet services that third parties use to provide us.
Some of them were achieved using AWS: Site-2-Site VPN, VPC, EC2, RDS, SES, Workmail, Route 53, Cloudwatch, S3, SFTP.
                  </p><p><i>Thechnologies that i use here: git, EC2, RDS, SES, Route 53, RouterOS, Laravel, PHPUnit, TypeScript, SQL, SOAP, Docker Swarm, Websockets, SHELL</i></p>
                             <p>Major achievement was reducing the stack cost from 2200 USD to 120 USD Monthly by implementing open source tools and technologies.</p> 
                              </div><!--//details-->
                          </div><!--//item-->
      <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Developer</h3>
                            <div class="time">August 2018 - February 2020</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://polimentes.com">Polimentes.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developing an API to manage resources of a Major Mexican Travel Agency.
        </p><p><i>Built in django rest framework on SQL database with DAO.</i></p></div><!--//details-->
                </div><!--//item-->

    <div class="item">
               <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Fullstack Developer</h3>
                            <div class="time">March 2019 - present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://culturacolima.gob.mx">Cultural Office State of Colima</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developing a web application to manage and publish stories with ease.</p>
                      <p><i>Built with my favorite stack: Mongo, Laravel and Vue.</i></p></div><!--//details-->
                </div><!--//item-->

              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Backend Developer</h3>
                            <div class="time">september 2018 - january 2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://polimentes.com">Polimentes.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Development of API section for Hieight Control, Date Scheduling, Merchandise values and status,
                         and other controllers for managing a Major Sea Port Cargo Terminal.</p>
                      <p>
                        <i>Based on SQL procedures with DAO from Laravel.</p></i></div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Pentester and Security Consultor</h3>
                            <div class="time">2012 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://ictius.com">ictius.com</a> / <a href="http://400tres.com">400tres.com</a> / <a href="http://mellon.mx">Mellon.mx</a> / <a href="http://ictius.com">Ictius.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Security Tests on based VPS & Shared Hostings and Cloud Services.</p>
                          <p><i>My responsability is to maintain the security of more than 100 of WP sites that had pligin and themes updates almos everyday. My favourite tools for this are Snort, OpenVAS, OWASP, sqlmap, msf, PHP and JS.</i></p>
                  </div><!--//details-->
                  </div><!--//item-->


              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">FullStack Developer</h3>
                            <div class="time">june 2016 - august 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://lth.com.mx">Polimentes.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>An app for the car management and customer registration, the app allow to the customer to be contacted for receive sms
and email reminding messages for the next car service date, Built in Laravel, nexmo, guzzle and mailgun with local Mongo
collections.</p>
                      <p>
                        <i>Git, Laravel, Vue, Mongo, Nexmo, Guzzle, Mailgun.</p></i></div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">NetWork Administrator and IT Consultor</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://baboyaro.com">Baboyaro.com</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Internet over 5 GHZ Point to Point Link.</p>
        <p>Routing and Transparent Proxy.</p>
                      <p><i>An 8 miles point to point internet link with a couple of Loco2, one on a grid aiming to the other with a omni airmax. Of course we care about security and privacy so this link is proxied over Tor.</i></p>
                    </div><!--//details-->
                </div><!--//item-->

  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web App Developer, WAN Security Administrator, IT Consultor</h3>
                            <div class="time">mid 2016 - end 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://edcom.mx">Edcom.mx</a></div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Routing and configuration of Cisco-Meraki to guarantee privacy of customers. Camera Lens Calculation and CCTV Design and Installation.</p>
                      <p>Laravel Application where Members can rent virtual offices and get their invoice.</p>
                      <p>Privacy policies based on web and local security.</p>
<p><i>When local security and privacy matters, it's better to have a meraki router: wifi locator and antirougue help a lot.</i></p>
                    </div><!--//details-->
                </div><!--//item-->

  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Developer and Pentester</h3>
                            <div class="time">mid 2017 to 2018</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://pixel.com">Pixel.com</a> -> <a href="http://zl44ka3ywxmsitjc.onion">zl44ka3ywxmsitjc.onion</a></a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>RADIUS Server Development and Integration with Microtik RouterOS.</p>
                        <p>WAN Security Assurance and Pentesting.</p>
<p><i>I develop a captive portal with voucher generation and service quotation for the management of the customers of a
RADIUS AP.
Technologies used: Laravel, Nginx, Privoxy, RouterOS, PHP.</i></p>
                    </div><!--//details-->
                </div><!--//item-->

<!--<div align="right">All of the above projects are verifiable.<div>-->
            </section><!--//section-->
